.main{
    padding: 1.5rem;
}
.form {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.input_cadastro{
    width: 80%;
}
.titulo{
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.mensagem{
    text-align: center;
    font-size: 1rem;
    margin: .5rem;
    color: blue
}
.paginacao {
    width: 100%;
    height: 50px
}
.paginacao ul {
    display: flex;
    gap : 2rem ;
    align-items: center;
    justify-content: space-around;
}

